.FeedContainer{

    background-color: #F5F8F9;
    /* background-color: wheat; */
    flex:2.8;
    height: 100vh;
    overflow-y: scroll;
    position:sticky;
    top:50px;
    /* width: 100%; */
}

.FeedWrapper{

    /* margin-top: rem; */
    max-width: 95%;
    padding:20px;
}

.share{
    padding-left:0.6rem;
}
.PostsWall{

    margin: 20px;
    display: flex;
    flex-direction: column;
}

.postCover{

    margin-bottom: 35px;
}


::-webkit-scrollbar {
    width: 15px;
  }
  ::-webkit-scrollbar-track {
    background-color: #fffefe;
  }
  ::-webkit-scrollbar-thumb {
    background-color:#b8b5b5;
  }