.SideBarContainer{
    flex:1.0;
    height: 110vh;
    background-color:#F6F7F9;
    overflow-y: scroll;
    top:70px;
    margin-bottom: 5rem;
}

.sidebarFriendList{
    list-style: none;
    padding: 10px;
    margin-bottom: 10rem;
}

.sidebarFriend{
    list-style: none;

}

.SideWrapper{
    padding: 20px;
    
    padding-left: 25px;
}

::-webkit-scrollbar {
    width: 7px;
  }
  ::-webkit-scrollbar-track {
    background-color: #fffefe;
  }
  ::-webkit-scrollbar-thumb {
    background-color:#e0dfdf;
  }



.ProfileImg{

   height: 3rem;
   width: 3rem;
   object-fit: cover;
   border-radius: 5px;
}


.ProfileDetails{
    
    padding-left: 10px;
    font-size: 15px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    padding-left: 12px;
}

.Profile{
    
    display: flex;
    padding: 15px;
    height: 50px;
    width:87%;
    border-radius: 0.7rem;
    box-shadow: -1px 3px 18px -14px rgb(175, 173, 173);
    background-color: white;
}

.FriendDetails{
    display:flex;
    flex-direction: row;
}

.sidebarFriendName{
    display: flex;
    align-items: center;
    padding-left: 10px;
}
.sidebarFriendImg{
    height: 3rem;
    width: 3rem;
    object-fit: cover;
    border-radius: 50px;
 }


 .sidebarButton{
    
    
    height: 35px;
    width: 6rem;
    border-radius: 8px;
    margin-left: 0.8em;
    border: none;
    background-color: #4393fc;
    color: white;
    font-size: 1em;
    font-weight: 500;
    cursor: pointer;
    margin-bottom:5px;
    margin-top:0.8rem;
 }


 .Search{
    width:90%;
    height: 40px;
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin-top: 25px;
    z-index:999;
    outline:black;
    margin-bottom: 0px;
    /* margin-left: 20px; */
 }

 .SIcon{
    font-size: 25px !important;
    margin-left: 10px; 
     /* padding-left: 10px; */
    color: #6d6e6e;
 }


 .sInput{
    
    border: none;
    /* padding-left: 10px; */
    /* width: 100%; */
    outline:none;
    background-color: white;
    font-family: 'Poppins', sans-serif;
 }

 .rightBarFriend{

    margin-bottom: 15rem;
 }