.RightBarContainer{
    flex:1.1;
    /* background-color:#F6F7F9; */
     background-color:#F6F7F9;
     height:100vh;
     overflow-y: scroll;
     /* margin-top:3rem; */
    position:sticky;
    /* top:50px;  */
   
}

.eventImg{
    height:3rem;
    width:3rem;
    margin-top: 5rem;
}

::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    background-color: #fffefe;
  }
  ::-webkit-scrollbar-thumb {
    background-color:#b8b5b5;
  }

.rightBarWrapper{
    padding: 20px;
    display:flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    padding-right: 20px;
}

.EventsContainer{
    display:flex;
    justify-content: center;
    align-items: center;
}

.rightBarTitle{
    display:flex;
    align-items: center;
    background-color:inherit;
    color:rgb(85, 83, 83);
    float:left;
    
}

.rightBarAd{

    margin-top: 20px;
    height: 100%;
    width:100%;
    background-color:inherit;
    border-radius:20px;
    /* box-shadow: -1px 3px 22px -14px rgb(175, 173, 173); */

}


.Options{
    background-color: white;
    height: 80%;
    width:80%;
    margin-left: 1rem;
    box-shadow: -1px 3px 22px -14px rgb(175, 173, 173);
    border-radius: 0.5rem;
}


.sidebarList{
    padding:0;
    margin:8;
    width:80%;
    list-style: none;
}

.sidebarListItem{

    padding: 6px;
    display:flex;
    align-items: center;
    cursor: pointer;
}

.sidebarListItemText{
 
    width:2rem;
    height: 2rem;
    padding:2px;
    cursor: pointer;
    font-weight: 600;
    color: rgb(78, 78, 78);
    text-decoration: none;
    padding-left:15px;
}

.sidebarHr{
    color:grey;
    width:120%;
}

.sidebarSec{
    
}


.sidebarFriend{

    padding: 10px;
}




.rightBarFriendList{
     padding:0;
     margin-top: 0rem;
     list-style: none;
     background-color: inherit;
}



.friendsListWrapper{
     background-color: inherit;
    display: flex;
    /* margin-top: 1rem; */
    padding-left:1rem;
    flex-direction: column;
}

.eventText{
    padding-left: 10px;
    margin-top: 6rem;
}


.IconsR{
    height:2rem;
}
.rightBarFriend{
  
    margin-top: 0;
    padding: 6px;
}
.FriendDetails{
    display:flex;
    flex-direction: row;
}

.rightBarFriendName{
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.rightBarFriendImg{

    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 50%;
 }

 .rightBarProfileImgContainer{
     margin-right: 8px;
     position: relative;
 }


 .rightBarOnline{
     width:9px;
     height:9px;
     border-radius: 50%;
     background-color: limegreen;
     position: absolute;
     top:-2px;
     right:0;
     border:2px solid white;
 }

 .rightBarDetails{
     display: flex;
     flex-direction: column;
 }

 .rightbarInfo{
 
    /* margin-top: 2rem; */
   margin-bottom: 30px;

 }
 .rightbarInfoItem{
     
     margin-bottom: 10px;
 }
 
 .rightbarInfoKey{
     
    font-weight: 500;
    margin-right: 15px;
    color:#555;
}

.rightbarInfoValue{
    font-weight: 300;
}




.rightbarFollowings{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.rightbarFollowing{


    /* background-color: blueviolet; */
     height: 8rem;
     width: 8rem;
     padding-bottom: 2rem;
     padding-left: 1.5rem;
}

.rightbarFollowingName{
   
    font-size: 14px;
    margin-bottom: 2rem;
}

 .rightbarTitle{
     font-size: 18px;
     font-weight: 500;
     margin-bottom: 10px;
 }


.rightbarFollowingImg{
    height:5rem;
    width:5rem;
    object-fit: cover;
    border-radius: 5px;
}

.ConnectButton{
          background-color: rgb(12, 211, 247);
          border-radius: 10px;
          font-size: 15px;
          font-family: Poppins;
          display: flex;
          color: white;
          justify-content: center;
          align-items: center;
          border: none;
          padding:5px;
          height: 35px;
          width: 120px;
          cursor:pointer;
}

.iconsright{
     height: 3.2rem;

}


.Icons{
    height:3.5rem;
    margin-right: 10px;
}
.notify{
    height:8rem;
    margin-left: 3rem;
    width:8rem;
}
.btn-logo{
    display: flex;

}